body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}



.border{
    background-color:darkgray;
    height: 400px;
    width: 400px;
    text-align: center;

    
}
.cart{
    background-color: rgba(245, 138, 8, 0.856);
    color: black;
    height: 35px;
    width: 135px;
    border-radius: 20px;
   position: relative;
   top: 300px;
   cursor: pointer;    
}
#msg{
    color: green;
    font-weight: bold;
}