body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    background-color: aqua;
    height: 400px;
    width: 400px;
    text-align: center;
}
.btn{
    height: 45px;
    width: 105px;
    top: 300px;
    position: relative;
    cursor: pointer;
    border-radius: 45px;
}