body{
    background-color: #f30000ed;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
   
}
.gallery img {
    width: 102%;
    height: 335px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}
.item button {
    
    bottom: 10px;
    right: 10px;
    padding: 6px 14px;
    border: none;
    border-radius: 6px;
    position: absolute;
    position: relative;


}

