body{
    background-color: rgba(126, 128, 114, 0.523);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
   
}
.gallery img {
    width: 102%;
    height: 335px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

