body{
    background-color: #f30000ed;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
.gallery img {
    width: 102%;
    height: 335px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}
.item button {
    padding: 6px 14px;
    border: none;
    border-radius: 6px;
    position: relative;
   padding-left: 130px;
   text-align: center;
   align-items: center;
   padding-bottom: 50px;
   padding-top: 30px;

   
}
.testButton1{
    font-size: 100%;
    height: 10%;
    width: 25%;
}
.testButton1 img{
    height: 80%;
    vertical-align: middle;
}